
.App {
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.animate-grid {
  animation-name: slidein 1s initial;
}
@keyframes grid {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.test-repo{
  animation-delay: .1s;
  animation: animationRepo .4s;
}
@keyframes animationRepo {
  from {
    opacity: 0.4;
    margin-left: -100px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}

.progress{
  height: 5px;
  width: auto;
  position: absolute;
  z-index: 100;
  top:0px;
  background-color: rgb(125, 196, 253);
  animation: animationProgress .8s ease infinite;
  animation-delay: .3s;
}
@keyframes animationProgress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


.card-profile{
  animation-delay: .1s;
  animation: animationRepo .4s;
}
@keyframes animationProfile {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}